:root {
    /* Colors */
    --dark-blue: #00008B;
    --ligth: #fff;
    --dark-grey: #808080;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#app {
    width: 100%;
    height: 100vh;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-blue);
}



.app-box {
    width: 50%;
    padding: 20px;
    text-align: center;
}


.app-box h1 {
    color: var(--dark-grey);
    margin-bottom: 14px;
}


.tasks-box {
    height: 436px;
    border-radius: 12px;
    background-color: var(--ligth);
    overflow-y: auto;
}


.task {
    padding: 12px 34px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--dark-grey);
    cursor: pointer;
}



.input-task {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.input-task input {
    padding: 12px;
    border-radius: 4px;
    flex-grow: 1;
    border: none;
}


.input-task button {
    padding: 12px 26px;
    border: none;
    cursor: pointer;
}


.done {
    color: red;
    text-decoration: line-through;
}


.alert-error {
    color: red;
    display: none;
}

.display-error {
    display: block;
}